<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Activities Notification</title>
</head>
<body>
    <h1>Activities Notifications</h1>
    <p>Good Morning you have to plan the next Activity ! </p>
    <p>To login, go to: <a href="{{ url('security_login') }}">Show activities</a>.</p>
</body>
</html>




